@font-face {
  font-family: yofont;
  src: url("/food/img/iconfont/iconfont.woff") format("woff"),
   url("/food/img/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/food/img/iconfont/iconfont.woff1") format("woff"), url("/food/img/iconfont/iconfont.ttf1") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/food/img/iconfont/iconfont.woff2") format("woff"), url("/food/img/iconfont/iconfont.ttf2") format("truetype");
}
